{% if item.item.site is defined %}
{% if item.item.site.ssl is defined %}
server {
  listen      80;

  {% if item.item.site.names is defined %}
  {% for name in item.item.site.names %}
  server_name {{name}};
  {% endfor %}
  {% else %}
  server_name {{item.item.site.name}};
  {% endif %}

  rewrite (.*) https://$http_host$1 permanent;
}
{% endif %}
server {
  {% if item.item.site.ssl is defined %}
  listen 443 ssl;
  ssl_certificate {{nginx_ssl_certificate}};
  ssl_certificate_key {{nginx_ssl_certificate_key}};
  {% elif item.item.site.ssl_passthrough is defined %}
  listen {{item.item.site.ssl_listen_port | default('443')}};
  {% else %}
  listen {{item.item.site.http_listen_port | default('80')}};
  {% endif %}

  {% if item.item.site.names is defined %}
  access_log /var/log/nginx/{{item.item.site.names[0]}}.access.log logstash;
  error_log /var/log/nginx/{{item.item.site.names[0]}}.error.log;
  {% for name in item.item.site.names %}
  server_name {{name}};
  {% endfor %}
  {% else %}
  server_name {{item.item.site.name}};
  access_log /var/log/nginx/{{item.item.site.name}}.access.log logstash;
  error_log /var/log/nginx/{{item.item.site.name}}.error.log;
  {% endif %}

  {% if item.item.site.password is defined and item.item.site.password != '' %}
  proxy_set_header Authorization "";
  {% endif %}

  location / {
    proxy_pass              http{% if item.item.site.ssl_passthrough is defined %}s{% endif %}://{{item.stdout}}:{{item.item.site.port | default('80')}};
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_connect_timeout   150;
    proxy_send_timeout      100;
    proxy_read_timeout      100;
    proxy_buffers           4 32k;
    client_max_body_size    128m;
    client_body_buffer_size 128k;
    {% if item.item.site.password is defined and item.item.site.password != '' %}
    auth_basic "Restricted";
    auth_basic_user_file {{item.item.site.password}};
    {% endif %}
  }
}
{% endif %}
